.card {
    background: whitesmoke;
}

.chat-app .people-list {
    width: 280px;
    padding: 20px;
    height: 100%;
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
}

.people-list .chat-list li:hover {
    background: rgba(37, 211, 101, 0.537);
    cursor: pointer;
}

.people-list img,
.card-chat img {
    width: 45px;
    border-radius: 50%;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status, .card-chat .status {
    color:grey;
    font-size: 13px;
}

.card-body{
    background-image: url("../img/mine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  
   
}
